Options +FollowSymLinks
    RewriteEngine On





# 2 ---- Establish a custom 404 File no Found page ----
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 402 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 405 /404.php
ErrorDocument 500 /404.php
ErrorDocument 501 /404.php
ErrorDocument 502 /404.php
ErrorDocument 503 /404.php
ErrorDocument 504 /404.php

# 3 ---- Make pages render without their extension 
Options +MultiViews

<Files 403.shtml>
order allow,deny
allow from all
</Files>