Options +FollowSymLinks
RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
RewriteRule ^ public%{REQUEST_URI} [L]

RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !-f
   
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]



# 2 ---- Establish a custom 404 File no Found page ----
ErrorDocument 400 /mwn/404.php
ErrorDocument 401 /mwn/404.php
ErrorDocument 402 /mwn/404.php
ErrorDocument 403 /mwn/404.php
ErrorDocument 404 /mwn/404.php
ErrorDocument 405 /mwn/404.php
ErrorDocument 500 /mwn/404.php
ErrorDocument 501 /mwn/404.php
ErrorDocument 502 /mwn/404.php
ErrorDocument 503 /mwn/404.php
ErrorDocument 504 /mwn/404.php

# 3 ---- Make pages render without their extension 
Options +MultiViews

<Files 403.shtml>
order allow,deny
allow from all
</Files>